<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link href="/assets/images/favicon.ico" rel="icon" type="image/ico"/>
    <link href="/assets/css/payment/pex.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 8]>
    <link href="/assets/css/payment/iehacks1.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if IE 9]>
    <link href="/assets/css/payment/iehacks9.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <script type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="/assets/js/payment/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <title>Payment successful</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/payment/tapestry-console.css"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/payment/t5-alerts.css"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/payment/tree.css"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/payment/throbber.css"/>
</head>
<body id="no_wallet_management_body">
    <div id="container">
        <div id="header">
            <div class="header-inner">
                <h1>Payment successful</h1>
            </div>
        </div>
    </div>
</body>
</html>